@model WebApplication1.Models.Home

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <p>I CAN DO IT!!!!</p> 
    <h1>@Model.Name</h1>
    <h2>@Model.Regno</h2>
    
</div>
</body>
</html>